{{define "head"}}
<title>{{ .Bond.FullName }} - Рекомендации по облигациям</title>
{{end}}

{{define "content"}}
<nav aria-label="breadcrumb" class="d-print-none d-none d-sm-block">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">
			<i class="bi bi-house"></i>
		</a></li>
		<li class="breadcrumb-item">
			Облигации
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			{{ .Bond.FullName }}
		</li>
	</ol>
</nav>

<div class="d-none d-sm-block">
	<h1 class="d-inline-block">{{ .Bond.FullName }}</h1>
	{{ if eq .Bond.IsHighRisk true }}
	<span class="badge align-top bg-danger" title="Эта облигация относится к сектору повышенного инвестиционного риска">
			<i class="bi bi-exclamation-square-fill"></i> Риск
		</span>
	{{ end }}
	{{ if eq .Bond.QualifiedOnly true }}
	<span class="badge align-top bg-secondary" title="Эта облигация доступна только для квалифицированных инвесторов">
			<i class="bi bi-exclamation-triangle-fill"></i> Для квалифицированных инвесторов
		</span>
	{{ end }}
	<span class="float-end h-100 d-inline-block d-print-none">
		<a class="btn btn-outline-primary" title="Посмотреть облигацию на сайте Московской биржи"
		   href="https://www.moex.com/ru/issue.aspx?code={{- .Bond.SecurityID }}" target="_blank">
			<i class="bi bi-link-45deg"></i>
		</a>
		<button class="btn btn-outline-primary" title="Поделиться" onclick="share();">
			<i class="bi bi-share"></i>
		</button>
	</span>
</div>

<div class="d-block d-sm-none">
	<div>
		<h1 class="d-inline-block">{{ .Bond.FullName }}</h1>
		{{ if eq .Bond.IsHighRisk true }}
		<span class="badge align-top bg-danger"
			  title="Эта облигация относится к сектору повышенного инвестиционного риска">
				<i class="bi bi-exclamation-square-fill"></i> Риск
			</span>
		{{ end }}
		{{ if eq .Bond.QualifiedOnly true }}
		<span class="badge align-top bg-secondary"
			  title="Эта облигация доступна только для квалифицированных инвесторов">
				<i class="bi bi-exclamation-triangle-fill"></i> Для квалифицированных инвесторов
			</span>
		{{ end }}
	</div>
	<div class="d-print-none">
		<a class="btn btn-outline-primary d-block mb-2" title="Посмотреть облигацию на сайте Московской биржи"
		   href="https://www.moex.com/ru/issue.aspx?code={{- .Bond.SecurityID }}" target="_blank">
			<i class="bi bi-link-45deg"></i> На сайт Московской биржи
		</a>
		<a class="btn btn-outline-primary d-block mb-2" title="Поделиться" onclick="share(); return false;" href="#">
			<i class="bi bi-share"></i> Поделиться
		</a>
	</div>
</div>

<div class="card w-100 mb-2">
	<div class="card-body">
		<h5 class="card-title">Сведения</h5>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">ISIN</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.ISIN }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Краткое наименование</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.ShortName }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Полное наименование</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.FullName }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Дата погашения</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.MaturityDate | formatDate }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Частота выплаты купонов</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.CouponFrequency }} в год</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Эмитент</div>
			<span class="font-monospace ms-4 text-end">{{ .Issuer.Name }}</span>
		</li>
	</ul>
</div>

<div class="card w-100 mb-2">
	<div class="card-body ">
		<h5 class="card-title">
			<a data-bs-toggle="collapse" href="#details" role="button" aria-expanded="false" aria-controls="details"
			   class="d-block d-print-none">
				Детали
			</a>
			<span class="d-none d-print-block">
				Детали
			</span>
		</h5>
	</div>
	<ul id="details" class="list-group list-group-flush collapse d-print-flex">
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Код ценной бумаги на Московской бирже</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.SecurityID }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Торгуется ли облигация</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.IsTraded | formatBool }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Доступна ли бумага только для квалифицированных инвесторов</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.QualifiedOnly | formatBool }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Относится ли бумага к сектору высокого риска</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.IsHighRisk | formatBool }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Тип облигации</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.Type | formatBondType }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Первоначальный номинал облигации</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.InitialFaceValue | formatMoney .Bond.FaceUnit }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Дата выпуска облигации</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.IssueDate | formatDate }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Уровень листинга</div>
			<span class="font-monospace ms-4 text-end">{{ .Bond.ListingLevel }}</span>
		</li>
		{{ if .Issuer.INN }}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">ИНН эмитента</div>
			<span class="font-monospace ms-4 text-end">{{ .Issuer.INN }}</span>
		</li>
		{{ end }}
		{{ if .Issuer.OKPO }}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">ОКПО эмитента</div>
			<span class="font-monospace ms-4 text-end">{{ .Issuer.OKPO }}</span>
		</li>
		{{ end }}
	</ul>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 mb-2">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Открытие позиции</h5>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="me-auto">Цена открытия</div>
					<span class="font-monospace ms-4 text-end">{{ .Report.OpenPrice | formatPercent }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="me-auto">Номинал на дату открытия</div>
					<span class="font-monospace ms-4 text-end">{{ .Report.OpenFaceValue | formatMoney .Report.Currency }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="me-auto">НКД на дату открытия</div>
					<span class="font-monospace ms-4 text-end">{{ .Report.OpenAccruedInterest | formatMoney .Report.Currency }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="me-auto">Комиссия</div>
					<span
						class="font-monospace ms-4 text-end">{{ .Report.OpenFee | formatMoney .Report.Currency }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="me-auto">Сумма инвестиций</div>
					{{ $openValue := getFullOpenValue .Report }}
					<span class="font-monospace ms-4 text-end">{{ $openValue | formatMoney .Report.Currency }}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Закрытие позиции</h5>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="me-auto">Выплаты по купонам</div>
					<span class="font-monospace ms-4 text-end">{{ .Report.CouponPayments | formatMoney .Report.Currency }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="me-auto">Выплаты по амортизации</div>
					<span
						class="font-monospace ms-4 text-end">{{ .Report.AmortizationPayments | formatMoney .Report.Currency }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="me-auto">Выплаты по погашению</div>
					<span class="font-monospace ms-4 text-end">{{ .Report.MaturityPayment | formatMoney .Report.Currency }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="me-auto">Суммарные выплаты</div>
					<span
						class="font-monospace ms-4 text-end">{{ .Report.Revenue | formatMoney .Report.Currency }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="me-auto">Налоги</div>
					<span class="font-monospace ms-4 text-end">{{ .Report.Taxes | formatMoney .Report.Currency }}</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="card w-100 mb-2">
	<div class="card-body">
		<h5 class="card-title">Прибыль/убыток</h5>
	</div>
	<ul class="list-group list-group-flush">
		{{ if gt .Report.ProfitLoss 0.0 }}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Прибыль (сумма)</div>
			<span
				class="font-monospace ms-4 text-end text-success">{{ .Report.ProfitLoss | formatMoneyWithSign .Report.Currency }}</span>
		</li>
		{{ else }}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Прибыль (сумма)</div>
			<span
				class="font-monospace ms-4 text-end text-danger">{{ .Report.ProfitLoss | formatMoneyWithSign .Report.Currency }}</span>
		</li>
		{{ end }}
		{{ if gt .Report.RelativeProfitLoss 0.0 }}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Прибыль (доля от инвестиций)</div>
			<span class="font-monospace ms-4 text-end text-success">{{ .Report.RelativeProfitLoss | formatPercentWithSign }}</span>
		</li>
		{{ else }}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Прибыль (доля от инвестиций)</div>
			<span class="font-monospace ms-4 text-end text-danger">{{ .Report.RelativeProfitLoss | formatPercentWithSign }}</span>
		</li>
		{{ end }}
		{{ if gt .Report.InterestRate 0.0 }}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Доходность</div>
			<span class="font-monospace ms-4 text-end text-success">{{ .Report.InterestRate | formatPercentWithSign }} годовых</span>
		</li>
		{{ else }}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="me-auto">Доходность</div>
			<span class="font-monospace ms-4 text-end text-danger">{{ .Report.InterestRate | formatPercentWithSign }} годовых</span>
		</li>
		{{ end }}
	</ul>
	<div class="card-body">
		{{ $fullRevenue := getFullRevenue .Report }}
		<p>
			Проинвестировав сегодня <span class="text-primary">{{ $openValue | formatMoney .Report.Currency }}</span>,
			через {{ .Report.DaysTillMaturity }} дней вы получите
			<span class="text-primary">{{ $fullRevenue | formatMoney .Report.Currency }}</span>
			или <span class="text-primary">{{ .Report.ProfitLoss | formatMoneyWithSign .Report.Currency }}</span>
			по отношению к первоначальным вложениям.
		</p>
		{{ if gt .Report.ProfitLoss 0.0 }}
		<p>
			Т.о. ваша прибыль составит
			<span class="text-primary">{{ .Report.RelativeProfitLoss | formatPercent }}</span> по отношению ко вложенной
			сумме или
			<span class="text-primary">{{ .Report.InterestRate | formatPercent }} годовых</span>.
		</p>
		{{ else }}
		<p>
			Т.о. ваш убыток составит
			<span class="text-primary">{{ .Report.RelativeProfitLoss | formatPercent }}</span> по отношению ко вложенной
			сумме или
			<span class="text-primary">{{ .Report.InterestRate | formatPercent }} годовых</span>.
		</p>
		{{ end }}
		{{ if lt .Report.ProfitLoss 0.0 }}
		<p class="text-danger">
			<i class="bi bi-exclamation-circle"></i> Данная облигация не рекомендуется к инвестированию в данный момент,
			поскольку доходность по ней отрицательна.
		</p>
		{{ end }}
		{{ if eq .Bond.IsHighRisk true }}
		<p class="text-danger">
			<i class="bi bi-exclamation-circle"></i> Данная облигация не рекомендуется к инвестированию,
			поскольку ее эмитент относится к <a href="https://www.moex.com/ru/markets/risksector/">сектору повышенного
			инвестиционного риска</a>.
		</p>
		{{ end }}
	</div>
</div>

<div class="card w-100">
	<div class="card-body">
		<h5 class="card-title">Выплаты</h5>
		<table class="table table-sm table-hover table-clickable text-end">
			<thead>
			<tr>
				<th>
					<span class="d-none d-md-block"><i class="bi bi-caret-up-fill"></i> Дата выплаты</span>
					<span class="d-block d-md-none text-sm"><i class="bi bi-caret-up-fill"></i> Дата</span>
				</th>
				<th>
					<span class="d-none d-md-block">Тип выплаты</span>
					<span class="d-block d-md-none text-sm">Тип</span>
				</th>
				<th>
					<span class="d-none d-md-block">Сумма выплаты</span>
					<span class="d-block d-md-none text-sm">Сумма</span>
				</th>
			</tr>
			</thead>
			<tbody class="font-monospace">
			{{ range $i, $item := .Report.CashFlow }}
			<tr>
				<td>
					{{ $item.Date | formatDate }}
				</td>
				<td>
					{{ $item.Type | formatCashFlowItemType }}
				</td>
				<td>
					{{ $item.ValueRub | formatMoney "RUB" }}
				</td>
			</tr>
			{{ end }}
			</tbody>
		</table>
	</div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	<div id="copiedToClipboardToast" class="toast align-items-center text-white bg-primary border-0" role="alert"
		 aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body">
				Ссылка на страницу была скопирована в буфер обмена
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
					aria-label="Close"></button>
		</div>
	</div>
</div>
<script>
	function share() {
		if (!!navigator.share) {
			navigator.share({
				title: 'Рекомендации по облигациям: {{ .Bond.FullName }}',
				url: location
			}).catch(console.error);
		} else {
			var toast = new bootstrap.Toast(document.getElementById('copiedToClipboardToast'))
			navigator.clipboard.writeText(location)
				.then(function () {
					toast.show();
					setTimeout(1000, function () {
						toast.hide();
					});
				}).catch(console.error);
		}
	}
</script>
{{end}}
