{{define "head"}}
<title>Рекомендации по облигациям</title>
{{end}}

{{define "content"}}
<h1>
	Результаты поиска по <small>&quot;{{ .Query }}&quot;</small>
</h1>

<form class="d-flex my-4" action="/search" method="get">
	<input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" name="q" value="{{ .Query }}" id="searchbox" required>
	<button class="btn btn-primary" type="submit">
		<i class="bi bi-search"></i>
	</button>
</form>

{{ if gt .TotalCount 0 }}

{{ include "pages/search_partial" }}

{{ else }}
<p>
	Ничего не найдено
</p>
{{ end }}

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var searchbox = document.getElementById('searchbox');
		searchbox.focus();
		setTimeout(function(){ searchbox.selectionStart = searchbox.selectionEnd = searchbox.value.length; }, 0);
	});

	function showMore(skip) {
		document.getElementById('showMoreBtn').setAttribute('disabled', 'disabled');
		document.getElementById('showMoreBtn_normal').style.display = 'none';
		document.getElementById('showMoreBtn_preloader').style.display = 'inline';

		var query = location.protocol + '//' + location.host + '/search?q=' +
			encodeURIComponent('{{ .Query }}') + '&skip=' +
			encodeURIComponent(skip) + '&partial=true';
		console.log(`goto: ${query}`);
		fetch(query)
			.then(function (response) {
				return response.text();
			})
			.then(function (html) {
				var dom = new DOMParser().parseFromString(html, 'text/html');
				var rows = dom.querySelectorAll('table tbody tr');
				var table = document.querySelector('#bonds_table tbody');
				dom.querySelectorAll('table tbody tr').forEach(function (row) {
					table.appendChild(row);
				})

				var moreBlock = dom.getElementById('more_block');
				if (!!moreBlock) {
					document.getElementById('more_block').innerHTML = moreBlock.outerHTML;
				} else {
					document.getElementById('more_block').innerHTML = '';
				}
				window.scrollTo(0,document.body.scrollHeight);
			})
			.catch(function (e) {
				console.log('ERROR: ' + e);
				document.getElementById('showMoreBtn').removeAttribute('disabled');
				document.getElementById('showMoreBtn_normal').style.display = 'inline';
				document.getElementById('showMoreBtn_preloader').style.display = 'none';
			});
	}
</script>

{{ end }}
