<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark d-print-none">
	<div class="container">
		<a class="navbar-brand d-block d-sm-none" href="/"><i class="bi bi-graph-up"></i> Облигации</a>
		<a class="navbar-brand d-none d-sm-block" href="/"><i class="bi bi-graph-up"></i> Рекомендации по облигациям</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
			</ul>
			<form class="d-flex" action="/search" method="get">
				<input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" name="q" required>
				<button class="btn btn-primary" type="submit">
					<i class="bi bi-search"></i>
				</button>
			</form>
		</div>
	</div>
</nav>

<nav class="navbar navbar-light fixed-top bg-light border-bottom d-none d-print-block">
	<div class="container">
		<a class="navbar-brand" href="/">
			<i class="bi bi-graph-up"></i> Рекомендации по облигациям
		</a>
	</div>
</nav>
