table.table-clickable th,
table.table-clickable td {
	padding: 0;
}

table.table-clickable th > a,
table.table-clickable td > a {
	display: block;
	padding: 4px;
	text-decoration: none;
}

@media (max-width: 576px) {
	table.table-clickable a {
		font-size: small;
	}

	.nav.nav-tabs > .nav-item >.nav-link {
		padding: 0.5rem 0.4em !important;
	}
}

.navbar .nav[role="tablist"] > .nav-item .nav-link.active {
	color: #0d6efd !important;
	text-decoration: underline;
}

main {
	padding: 80px 0 0;
}

.text-sm {
	font-size: small;
}

.text-monospace {
	font-family: 'JetBrains Mono', monospace !important;
	font-size: 14px;
}
